@import "nullstyle.css";


body{
    font-family: 'Forum', serif;
font-family: 'Inter', sans-serif;
font-size: 20px;
}

.content{
    display: flex;
    width: 1440px;
    margin: 0  auto;
    min-height:100%;
flex-direction: column;
}


.container{

    margin-left: 20px;
    margin-right: 20px;
}

/* ------------------------ HEADER -----------------------*/
h1{
   font-family: Forum;
font-size: 30px;/* 166.667% */
}


header{
    width: 100%;
    color: #FFF;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #0C0C0E;
    padding-right: 20px;
    padding-left: 20px;
}
.header_name{
    align-self: center;
}
.header_list{
    display: flex;
    flex: 1 0 auto;
    justify-content: end;
    align-items: center;
}
.header_nav{
    padding-right: 30px;
}
.header_icon{
    align-self: center;

}

















