@import "nullstyle.css";


body{
    font-family: 'Forum', serif;
font-family: 'Inter', sans-serif;
font-size: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.content{
    display: flex;
    max-width: 1440px;
    margin: 0  auto;
    min-height:100%;
flex-direction: column;
overflow: hidden;
}




/* ------------------------ HEADER -----------------------*/
button{
    background-color: #FFF;
}
h1{
   font-family: Forum;
font-size: 30px;/* 166.667% */
}

h3{
    color: rgb(255, 255, 255);
    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-align: center;
}
h4{
    color: rgb(0, 0, 0);
font-family: Forum;
font-size: 20px;
font-weight: 400;
line-height: 20px;
letter-spacing: 2%;
text-align: center;
text-transform: uppercase;
}

header{
    width: 100%;
    color: #FFF;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #0C0C0E;
    padding-right: 20px;
    padding-left: 20px;
}
.header_name{
    align-self: center;

}
.header_icon{
    background-color: #0C0C0E;
}

.header_list{
    display: flex;
    flex: 1 0 auto;
    justify-content: end;
    align-items: center;
}
.header_nav{
    padding-right: 30px;
    cursor: pointer;
}
.header_burger{
    display: none;
}
/*          ЛОГИН БУРГЕР                     */
.profile_login{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 115px;
    top: 60px;
right: 20px;
background-color: #FFF;
z-index: 3;
visibility: visible;
opacity: 1;
transition: all 0.3s linear;
}



/* ДЕКОРИРУЕМ МЕНЮ*/

.link_menu{
    display: inline-block;
    line-height: 1;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
}
.link_menu::after{
    background-color: #00bfff; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.link_menu:hover:after,
.link_menu:focus:after {
    width: 100%;
}
/* ДЕКОРИРУЕМ МЕНЮ*/




.header_icon{
    align-self: center;

}

/* ------------------------ HEADER -----------------------*/
/* ------------------------ WELCOME -----------------------*/
.welcome{
    display: flex;
    background: url('../assets/img/image.jpg');
    height: 600px;
}


.welcome_text{
    align-self: center;
    width: 600px;
    height: 220px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #0C0C0E;
    text-transform: uppercase;
    text-align: center;

}

/* ------------------------ WELCOME -----------------------*/
/* ------------------------ ABOUT -----------------------*/

.about{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    overflow: hidden;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info_title{                                 /* ------------------------ use 2 times -----------------------*/
    color: rgb(12, 12, 14);
font-family: Forum;
font-size: 40px;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-align: left;
text-transform: capitalize;
position: relative;
margin-bottom: 40px;
margin-top: 20px;

}
.info_title::after{
    content: "";
    position: absolute;
    bottom: -21px;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: #000;
    right: 0;
    margin: 0 auto;
    display: block;
  }
.info_text{                                      /* ------------------------ use 2 times -----------------------*/
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}
.info_circle{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.circle{

    width: 16px;
    height: 16px;
    background: rgb(12, 12, 14);
    margin: 0 auto;
    border-radius: 50px;
}
.circle_div{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
}
.circle_hide{
display: none;
}
.circle_1{
    margin: 0 auto;
    width: 16px;
    height: 16px;
    background: rgb(12, 12, 14);
    gap: 10px;
    border-radius: 50px;
}
.caroosel{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.arrow_right{
    display: none;
}

/* ------------------------ ABOUT -----------------------*/

/* ------------------------ FAVORITES -----------------------*/
.favorites{
    margin: 20px 20px 0 20px;
}

.favotites_info{
    display: flex;
}

.favorites_head{
    align-self: flex-start;
    color: rgb(0, 0, 0);
font-size: 20px;
font-weight: 700;
line-height: 24px;
margin-top: 40px;
}
/* ------------------------ RADIO BUTTON ON FAVORITES -----------------------*/
.favorites_input{
    display: flex;
    align-self:flex-start;
    margin-top: 40px;
    padding-left: 10px;
}
input[type="radio"]:checked+span {
     font-weight: bold;


     }

     input[type="radio"]:nth-child(1)+span{
        margin-right: 60px;

     }
     input[type="radio"]:nth-child(1){
        margin-right: 30px;

     }
     input[type='radio'] {
        accent-color: #232323;
    }
    label{

        cursor: pointer;
    }
    input{
        cursor: pointer;
    }
/* ------------------------ RADIO BUTTON ON FAVORITES -----------------------*/

/* ------------------------ FAVORITES -----------------------*/


/* ------------------------ FAVORITES CARDS -----------------------*/

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.cards_item{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 550px;
    height: 555px;
    box-sizing: border-box;
border: 1px solid rgb(0, 0, 0);
background: rgb(255, 255, 255);
padding-left: 20px;
margin-top: 40px;
margin-bottom: 40px;
}
.cards_name{
    position: relative;
    color: rgb(0, 0, 0);
font-family: Forum;
font-size: 20px;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-align: left;
text-transform: capitalize;
margin-top: 15px;

}
.cards_name::after{
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 50px;
    height: 1px;
    background-color:rgb(187, 148, 95);
    right: 485px;
    margin: 0 auto;
    display: block;
}
.cards_head{
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 15px;
font-weight: 700;
line-height: 40px;
letter-spacing: 2px;
text-align: left;
margin-top: 20px;
}
.cards_text{
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-align: left;
text-transform: capitalize;
width: 66%;
height: 60%;
}
img.cards_book{
    position: absolute;
    left: 72%;
    top:46%
}
button.button1{
    box-sizing: border-box;
border: 1px solid rgb(12, 12, 14);
border-radius: 2px;
width: 75px;
height: 30px;
color: rgb(12, 12, 14);
font-family: Inter;
font-size: 10px;
font-weight: 700;
line-height: 12px;
letter-spacing: 1px;
text-align: center;
}
.button1:hover{
background-color: #bb945f;
border: 1px solid #bb945f;
transition: all 1s;
}
button.button2{
    background-color: #FFF;
width: 75px;
height: 30px;
color: rgb(187, 148, 95);
font-family: Inter;
font-size: 10px;
font-weight: 700;
line-height: 12px;
letter-spacing: 1px;
text-align: center;
box-sizing: border-box;
border: 1px solid rgb(187, 148, 95);
border-radius: 2px;

}
.cards_btn{
    display: flex;
    height: 9%;
    align-items: end;
    margin-bottom: 20px;

}
.cards_button:hover{
    background-color: #bb945f;
    border: 1px solid #bb945f;
    transition: all 1s;
}

.cards_visible{
    position: absolute;
    opacity: 0;
    top: 0

}
/* ------------------------ FAVORITES CARDS -----------------------*/


/* ------------------------ COFFE SHOP -----------------------*/
.coffeShop{
    margin: 20px 20px 0 20px;
}

.menu{
    display: flex;
    justify-content: space-between;
}
.menu_item{
    display: flex;
    flex-direction: column;
    width: 438px;
}
.menu_position{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.menu_position__line{
    width: 100px;
    border-top: 1px solid rgb(187, 148, 95);
    align-self: center;
}
.menu_drinks{
    color: rgb(187, 148, 95);
font-family: Forum;
font-size: 40px;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-align: left;
text-transform: capitalize;
}
.menu_drinks2{
    display: flex;
    justify-content: end;
}
.menu_position__name{
    width: 212px;
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-align: left;
text-transform: capitalize;
}
.menu_position__price{
    color: rgb(0, 0, 0);
    font-family: Forum;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
    text-transform: capitalize;
}


/* ------------------------ COFFE SHOP -----------------------*/

/* ------------------------ OUR CONTACTS -----------------------*/
.ourContacts{
    margin: 20px 20px 0 20px;
}
.ourContacts_contacts{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.contacts_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 34px;
}
.contacts_item__head{
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}
.contacts_item__head1{
    margin-top: 20px;
    padding-bottom: 40px;
}
.contacts_item__head2{
padding-top: 40px;
}
.contacts_item__phone{
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}
.usual{
    font-weight: 400;
}
/* ------------------------ OUR CONTACTS -----------------------*/


/* ------------------------ libraryCards_cards -----------------------*/
.libraryCards{
    margin: 20px 20px 41px 20px;
}
.libraryCards_cards{
    display: flex;
    justify-content: space-between;
}
.cards_login{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
border: 3px solid rgb(187, 148, 95);
padding: 20px 20px 120px 20px;

}
.cards_account{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.cards_login__head{
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 30px;
font-weight: 400;
line-height: 36px;
letter-spacing: 2%;
text-align: left;
}
.libraryCards_block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.block_left{
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 30px;
font-weight: 400;
line-height: 36px;
letter-spacing: 2%;
text-align: left;
}
.block_right{
    color: rgb(0, 0, 0);
font-family: Forum;
font-size: 30px;
font-weight: 400;
line-height: 33px;
letter-spacing: 2%;
text-align: center;
}

.form_libraryCards{
    width: 560px;
height: 272px;
background: rgb(187, 148, 95);
padding-left: 25px;
display: flex;
flex-direction: column;

}
.input_name{
    width: 520px;
    margin-bottom: 10px;
    border-radius: 10px;

background: rgb(255, 255, 255);
color: rgb(142, 142, 142);
font-family: Forum;
font-size: 30px;
font-weight: 400;
line-height: 50px;
letter-spacing: 2%;
text-align: left;
padding-left: 20px;
}
.input_card{
    width: 520px;
    border-radius: 10px;

background: rgb(255, 255, 255);
color: rgb(142, 142, 142);
font-family: Forum;
font-size: 30px;
font-weight: 400;
line-height: 50px;
letter-spacing: 2px;
text-align: left;
padding-left: 20px;

}
/* убрать стрелочки у инпута карты */
.input_card::-webkit-inner-spin-button {
    display: none;

}
.cards_login__header{
    margin-top: 20px;
    color: rgb(0, 0, 0);
font-family: Forum;
font-size: 30px;
font-weight: 400;
line-height: 50px;
letter-spacing: 2%;
text-align: left;
}
.cards_button{
    position: relative;
    background-color: #FFF;
    color: rgb(12, 12, 14);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 1px;
text-align: center;
box-sizing: border-box;
border: 1px solid rgb(12, 12, 14);
border-radius: 2px;
padding: 10px 0 10px 0;
margin-top: 50px;
width: 242px;
align-self: center;

}
.cards_account__text{
    color: rgb(0, 0, 0);
font-size: 20px;
font-weight: 400;
line-height: 40px;
letter-spacing: 2%;
text-align: right;
}
.button1{
background-color: #FFF;
    font-family: Inter;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 41px;
    margin-left: 20px;
}
.button_signup{
    box-sizing: border-box;
    border: 1px solid rgb(12, 12, 14);
    border-radius: 2px;
    width: 75px;
    height: 30px;
    color: rgb(12, 12, 14);
    font-family: Inter;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1px;
    text-align: center;
}
.button_signup:hover{
    background-color: #bb945f;
    border: 1px solid #bb945f;
    transition: all 1s;
    }
.cards_account__text{
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 40px;
letter-spacing: 2%;
text-align: right;
}
.block_right__visible{
    display: none;
}
/* ------------------------ libraryCards_cards -----------------------*/

/* ------------------------ FOOTER -----------------------*/
footer{
    background: rgb(12, 12, 14);
    color: rgb(255, 255, 255);
    margin: 0 20px 0 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.footer_top{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.top_left{
    display: flex;
    flex-direction: column;
}
.top_left__adress{
    margin-bottom: 10px;
}
.svg_icon{
    margin-right: 17px;
}
a{
    color: white;
}
.top_right{
    display: flex;
    flex-direction: column;
    text-align: end;
}



.footer_line{
    border: 1px solid rgb(255, 255, 255);
    margin: 30px 0 44px 0;
}
.footer_down{
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}
.top_left__icons{
    display: flex;

}
/* ------------------------ FOOTER -----------------------*/

/* --------------------------------------------------------- A D A P T I V E ---------------------------------------------*/
@media (max-width:1920px){
    .profile_login{
        top: 60px;
    right: 251px;

    }
    }

@media (max-width:1440px){
.profile_login{
    top: 60px;
right: 20px;

}
}

@media (max-width:1024px) {





    /* --------------------------------------------------------- A D A P T I V E HEADER 1024 ---------------------------------------------*/
    .profile_login{
        top: 60px;
    right: 112px;

    }
    .header{
        position: relative;
        align-items: center;

    }
    .header_list{
        position: absolute;
        display: block;
        right: -247px;
        top: 40px;
        background-color: #0C0C0E;
        padding-left: 50px;
        padding-right: 50px;
        visibility: hidden;
        transition: transform .5s, visibility .5s;
    }
    .link_menu{
        display: block;

        color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 50px;
text-align: center;
    }
    .header_nav:nth-child(1){
        padding-top: 65px;
    }
    .header_nav{
        padding-top: 20px;
    }
    .header_nav:last-child{
        padding-bottom: 65px;
    }

    .header_icon{
position: absolute;
        right: 112px;

        z-index: 2;
    }
    .header_burger{
        display: block;
        width: 55px;
        height: 55px;
        z-index: 2;
        background-color: #0C0C0E;


    }
    .header_burger span{
        display: block;
        position: absolute;
        width: 45px;
        height: 3px;
        right: 27px;
        background-color: rgb(255, 255, 255);
        transition: background-color .5s, opacity .25s, transform .5s;
        will-change: transform;


    }
    .header_burger span:nth-child(1){
transform: translateY(-10px);
    }

    .header_burger span:nth-child(3){
        transform: translateY(10px);
    }

    /* ------------ ПЕРЕХОД В КРЕСТИК --------------- ОТКРЫТЬ МЕНЮ*/

    .header.open .header_burger span:nth-child(1){
        transform: translateY(0px) rotate(45deg);
            }
    .header.open .header_burger span:nth-child(2){
                opacity: 0;
            }
   .header.open .header_burger span:nth-child(3){
                transform: translateY(0px) rotate(-45deg);
            }
            .header.open .header_list{
                transform: translateX(-100%);
                visibility: visible;

            }

            /* --------------------------------------------------------- A D A P T I V E HEADER 1024---------------------------------------------*/
/* --------------------------------------------------------- A D A P T I V E ABOUT 1024---------------------------------------------*/
.caroosel{
    display: flex;
    width: 100%;
    justify-content: start;
    position: relative;
}

/* .caroosel_2,
.caroosel_3,
.caroosel_4,
.caroosel_5{
    display: none;
} */
.arrow_left::before{
    content: '\3C';


}
.arrow_left{
    position: relative;
    height: 24px;
    width: 24px;
    align-self: center;
    background: rgb(255, 255, 255);
    margin-right: 58px;
}
.arrow_right::after{
    content: '\3E';
    width: 8.8px;
    height: 16px;
    margin-left: -280px;


}
.arrow_right{
    position: relative;
    display: flex;
    height: 24px;
    width: 24px;
    align-self: center;
    background: rgb(255, 255, 255);
    margin-right: 20px;

}
.circle_hide{
    display:flex;
    }

/* --------------------------------------------------------- A D A P T I V E ABOUT 1024---------------------------------------------*/
/* --------------------------------------------------------- A D A P T I V E FAVORITES 1024---------------------------------------------*/
.favorites_input{
    display: flex;
    align-self: start;
    padding-left: 20px;
}
.cards{
    justify-content: center;
}

/* --------------------------------------------------------- A D A P T I V E FAVORITES 1024---------------------------------------------*/
/* --------------------------------------------------------- A D A P T I V E COFFE SHOP 1024---------------------------------------------*/
.menu{
    flex-direction: column;
}
.menu_item{

    align-self: flex-start;
}
.menu_item__2{

    align-self: flex-end;
}
.menu_position__line{
    margin-left: 30px;
    margin-right: 30px;
}
/* --------------------------------------------------------- A D A P T I V E COFFE SHOP 1024---------------------------------------------*/
/* --------------------------------------------------------- A D A P T I V E CONTACTS 1024---------------------------------------------*/
.ourContacts_contacts{
    flex-direction: column;
}
/* --------------------------------------------------------- A D A P T I V E CONTACTS 1024---------------------------------------------*/
/* --------------------------------------------------------- A D A P T I V E CARDS 1024---------------------------------------------*/
.libraryCards_cards{
    flex-direction: column;
    align-items: center;
}
.libraryCards_block{
    justify-content: center;
    margin-top: 20px;
}
.block_right{
    display: none;
}
.block_right__visible{
    color: rgb(0, 0, 0);
font-family: Forum;
font-size: 30px;
font-weight: 400;
line-height: 33px;
letter-spacing: 2%;
text-align: center;
align-self: center;
margin-top: 20px;
margin-bottom: 40px;
display: block;

}
.cards_account__text{
    text-align: center;
}
.cards_account{
    align-items: center;
}
/* --------------------------------------------------------- A D A P T I V E CARDS 1024---------------------------------------------*/
}

/* --------------------------------------------------------- A D A P T I V E 768---------------------------------------------*/

@media (max-width:768px){

    .active{
        position: sticky;
        top: 0;
    }

.welcome{
background: url(../assets/img/welcome768.jpg) no-repeat;
background-size: 100%;
background-position:50%;
}
.header_list{
    top: 31px;
}
label{
    padding: 0px;
}
.maps{
    width: 100%;
}
.contacts_map{
    display: flex;
    justify-content: center;
}
}
@media (max-width:739px){
label{
    display: flex;
    margin: -17px;
}

}
/* --------------------------------------------------------- A D A P T I V E 768---------------------------------------------*/
/* --------------------------------------------------------- A D A P T I V E 425---------------------------------------------*/
@media (max-width:425px){

    label{
        margin: 0;
    }
    .favorites_input{
        padding-left: 0;
    }
    span{
        margin-right: 0px;
    }
    .circle{
        margin-right: 2px;
    }
    input[type="radio"]:nth-child(1){
        margin-right: 0;
    }
    input[type="radio"]:nth-child(1)+span{
        margin-right: 10px;
    }
.cards_item{
    width: 100%;
    height: 100%;
}
.cards_book{
    width: -webkit-fill-available;
}
.header_icon{
    right: 86px;
}
.caroosel_1,
.caroosel_2,
.caroosel_3{
    width: 200px;
}
form{
        width: 100%;

}
.input_name{
    width: 90%;
}
.input_card{
    width: 90%;
}
}
/* --------------------------------------------------------- A D A P T I V E 425---------------------------------------------*/
@media (max-width:470px) {
    .menu_item{

        width: 100%;
    }
    .menu_item__2{

        width: 100%;
}
/* --------------------------------------------------------- A D A P T I V E 375---------------------------------------------*/
@media (max-width:375px){

h1{
    font-size: 20px;
}
    .welcome{
        background-size: 125%;
    }
    .arrow_left{
        margin-right: 20px;
    }
    .arrow_right{
        margin-left: 20px;
    }
    body{
        font-size: 15px;
    }
    .menu_item{
        width: 100%;
    }
    form{
        height: 290px;
    }
}

/* --------------------------------------------------------- A D A P T I V E 375---------------------------------------------*/

/* --------------------------------------------------------- A D A P T I V E 390---------------------------------------------*/
@media (max-width:400px){

    h1{
        font-size: 20px;
    }
        .welcome{
            background-size: 125%;
        }
        .arrow_left{
            margin-right: 20px;
        }
        .arrow_right{
            margin-left: 20px;
        }
        body{
            font-size: 15px;
        }
        .menu_item{
            width: 100%;
        }
        form{
            height: 290px;
        }
    }
    /* --------------------------------------------------------- A D A P T I V E 390---------------------------------------------*/
/* --------------------------------------------------------- A D A P T I V E 320---------------------------------------------*/
@media (max-width:320px){

    .welcome{
        background-size: 125%;

    }
    .welcome_text{
        height: 170px
    }
    h1{
        font-size: 15px;
    }
    h3{
        font-size: 25px;
    }
    .favorites_input{
        margin-left: -8px;
    }
}
}
/* --------------------------------------------------------- A D A P T I V E 320---------------------------------------------*/
/* --------------------------------------------------------- A D A P T I V E ---------------------------------------------*/








/* --------------------------------------------------------- SLIDER ---------------------------------------------*/
.caroosel{
    position: relative;
    flex-wrap: nowrap;
    /* overflow: hidden; */
    transition: all ease 1s;
    max-width: 100%;
    right: 0;

}

.caroosel_img{
    margin-right: 24px;
}

.circle_brow{
    background: rgb(187, 148, 95);

}
.circle_black{
    background: rgb(12, 12, 14);

}
@media (max-width:1024px) {
    .caroosel_img{
        margin-right: 320px;
    }
    .caroosel{
        margin-left: 20%;
    }

}

/* --------------------------------------------------------- SLIDER ---------------------------------------------*/

/* --------------------------------------------------------- CARDS ---------------------------------------------*/
.cards_winter{

    opacity: 0;

}
.cards{
opacity: 1;
transition: all 3s linear;
}
.active{
    position: relative;
    display: flex;
    opacity: 1;
    transition: all 3s linear;

}



/* --------------------------------------------------------- CARDS ---------------------------------------------*/

/* --------------------------------------------------------- login modale ---------------------------------------------*/

.info_title__login{
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 15px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
position: relative;
padding-bottom: 4px;
padding-top: 5px;
}
.profile_login__login{
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
padding-top: 15px;
}
.profile_login__logout{
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
padding-top: 15px;
}
.info_title__login::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 40px;
    height: 1px;
    background-color: rgb(187, 148, 95);
        right: 0;
    margin: 0 auto;
    display: block;
  }
  .visibility{
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
  }

  /* --------------------------------------------------------- REGISTER MODAL ---------------------------------------------*/
.register_wrapper{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(20,20,20,0.3);
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.register_form{
    width: 250px;
    height: 382px;
    background: white;
    opacity: 1;
    transition: all 0.5s linear;
}
.register_form{
    display: flex;
    flex-direction: column;
    position: fixed;

}
.register_head{
    display: flex;
    justify-content: space-between;
}
.container_form{
    display: flex;
    flex-direction: column;

font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 2%;
padding-left: 25px;
}
.register_form__modal{
    border: 1px solid rgb(187, 148, 95);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.container_form__footer{
    display: flex;
}
.signin_btn{
    position: relative;
    background-color: #FFF;
    color: rgb(12, 12, 14);
    font-family: Inter;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(12, 12, 14);
    border-radius: 2px;

    width: 75px;
    height: 30px;
    align-self: flex-start;
    margin-top: 10px;
}
.container_form__footer{
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;

}
.container_form__footer-text{
    margin-right: 10px;
}
.container_form__footer-login{
    color: rgb(12, 12, 14);
    font-family: Inter;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration-line: underline;
    background-color: white;
}
.register_title{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 85px;

}
/* крестик */
.close{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: white;

}
.close_line1{
    position: absolute;
width: 22px;
height: 0;
left: 14px;
top: 21px;
transform: rotate(44.71deg);
border: 2px solid rgb(12, 12, 14);
background-color: #000;
}
.close_line2{
    position: absolute;
width: 22px;
height: 0;
left: 14px;
top: 21px;
transform: rotate(-44.71deg);
border: 2px solid rgb(12, 12, 14);
background-color: #000;
}
   /* --------------------------------------------------------- REGISTER MODAL ---------------------------------------------*/
    /* --------------------------------------------------------- Login MODAL ---------------------------------------------*/
.login_form{
    height: 262px;
}
.register_wrapper__login{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(20,20,20,0.3);
    align-items: center;
    justify-content: center;
    z-index: 3;
}

     /* --------------------------------------------------------- Login MODAL ---------------------------------------------*/

 /* --------------------------------------------------------- Symbol Name ---------------------------------------------*/
   .autorize_name{
    display: flex;
    position: absolute;
    width: 28px;
    height: 28px;
    color: rgb(187, 148, 95);
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
   }
   .opacity{
    opacity: 1;
   }
   /* --------------------------------------------------------- Symbol Name ---------------------------------------------*/

   /* -----------------------------------Hiden information on library cards ---------------------------------------------*/
   .cards_information__container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    transition: all 0.3s linear;

   }
   .information_colomn{
    display: flex;
    margin-right: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .information_colomn__icon{
    margin: 10px 0;
   }
/* -----------------------------------Hiden information on library cards ---------------------------------------------*/
/* -----------------------------------text size autorization user in title ---------------------------------------------*/
.profile_autorization-tittle{
    font-size: 12px;
}

.input_name__brow::placeholder,
.input_card__brow::placeholder{
color: rgb(187, 148, 95);
}
.visibility-display{
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
    display: none;
}
/* -----------------------------------text size autorization user in title ---------------------------------------------*/



/* -----------------------------------PROFILE MODAL ---------------------------------------------*/
.profile_wrapper{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.3);
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: all 0.3s linear;
}
.profile__container{
    display: flex;
    width: 600px;
    height: 400px;

}
.profile__left-part{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.left__initials{
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: white;
   color: rgb(187, 148, 95);
   margin-bottom: 15px;
}
.left__fullName{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #000;
    width: 120px;
    height: 30px;
    font-size: 10px;
    color: rgb(0, 0, 0);
font-family: Inter;
font-weight: 400;
line-height: 20px;
}


.profile__right-part{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    background-color: #FFF;
}
.profile__text{
    display: flex;
    color: rgb(0, 0, 0);
font-family: Forum;
font-size: 40px;
font-weight: 400;
line-height: 20px;
letter-spacing: 2%;
text-align: center;
text-transform: uppercase;
margin-bottom: 40px;
margin-left: -88px;
}
.profile__information{
    display: flex;
    margin-bottom: 30px;

}
.rented__books{
    color: rgb(12, 12, 14);
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
}
.profile__information_column{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column__img{
    margin: 10px 0;
}
.rented__books_head{
    margin-top: 20px;
    color: rgb(12, 12, 14);
font-family: Inter;
font-size: 25px;
font-weight: 400;
line-height: 20px;
margin-bottom: 30px;
}
.cards_information{
    display: flex;
    margin-top: 40px;
}
.number_card{
    margin-left: 15px;
    margin-right: 15px;
}
.number_card{
    color: rgb(187, 148, 95);
}
.tooltip-toggle{
    position: relative;
    left: -42px;
    top: -25px;
    opacity: 0;
    transition: all 0.3s linear;
}
/* -----------------------------------PROFILE MODAL ---------------------------------------------*/

/* -----------------------------------BUY CARD MODAL ---------------------------------------------*/

.buyCard_wrapper{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.3);
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: all 0.3s linear;
}
.buyCard__container{
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 540px;
}
.buyCard_header{
    display: flex;
    background-color: #000;
    color: #FFF;
    justify-content: space-between;
    align-items: center;
}
.buyCard_header__title{
    margin-left: 100px;
    color: rgb(255, 255, 255);
font-family: Forum;
font-size: 40px;
font-weight: 400;
line-height: 20px;
letter-spacing: 2%;
text-align: center;
text-transform: uppercase;
}
.buyCard_main{
    display: flex;
    background-color: #FFF;
}
.buyCard_column{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 30px;
}
.libraryCard_form{
    display: flex;
    flex-direction: column;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 2%;

}

.code{
    width: 20%;
    margin-right: 10px;
}
.cvc{
    width: 23%;
}
.libraryCard_form__footer{
    display: flex;
    margin-bottom: 20px ;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.buyCard_btn{
    position: relative;
    background-color: #FFF;
    color: rgb(12, 12, 14);
    font-family: Inter;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(12, 12, 14);
    border-radius: 2px;
    width: 75px;
    height: 30px;
    align-self: flex-start;
}
.libraryCard_form__price{
    color: rgb(12, 12, 14);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 20px;
letter-spacing: 2px;
text-align: left;
text-transform: uppercase;
}
.buyCard_column2{
    color: rgb(142, 142, 142);
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 2px;
text-align: left;
margin-right: 30px;
}
.close_card{
    background-color: #000;
}
.close_line3,
.close_line4{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}
/* -----------------------------------BUY CARD MODAL ---------------------------------------------*/

